# Optimization hyperparameter

In [1]:
# Import dependencies 
import pandas as pd
import os
import matplotlib.pyplot as plt

In [2]:
# import dependencies
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [3]:
# Import encoded datafram
encoded_df3 = pd.read_csv('encoded_df3.csv')
encoded_df3

        state_beer              style  availability   abv  types  taste
0               36  German Hefeweizen             2   5.0      4   4.50
1               36  German Hefeweizen             6   5.6      2   4.50
2               43  German Hefeweizen             6   5.4      1   4.00
3               37  German Hefeweizen             4   5.0     10   4.25
4               46  German Hefeweizen             2   4.5      3   4.00
...            ...                ...           ...   ...    ...    ...
443995           4              Stout             6   5.8      3   4.50
443996          10              Stout             2   8.0      2   3.50
443997           4              Stout             2  11.0     10   5.00
443998          22              Stout             2  13.1      5   4.75
443999          15              Stout             6  10.0      1   4.50

[444000 rows x 6 columns]

In [3]:
#encode string values
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
encoded_df4 = encoded_df3.copy()
encoded_df4['style'] = le.fit_transform(encoded_df4['style'])
encoded_df4

        state_beer  style  availability   abv  types  taste
0               36     18             2   5.0      4   4.50
1               36     18             6   5.6      2   4.50
2               43     18             6   5.4      1   4.00
3               37     18             4   5.0     10   4.25
4               46     18             2   4.5      3   4.00
...            ...    ...           ...   ...    ...    ...
443995           4     36             6   5.8      3   4.50
443996          10     36             2   8.0      2   3.50
443997           4     36             2  11.0     10   5.00
443998          22     36             2  13.1      5   4.75
443999          15     36             6  10.0      1   4.50

[444000 rows x 6 columns]

In [4]:
# Define the target set
y = encoded_df3["style"].values
y

array(['German Hefeweizen', 'German Hefeweizen', 'German Hefeweizen', ...,
       'Stout', 'Stout', 'Stout'], dtype=object)

In [5]:
#define the features set
X = encoded_df3.copy()
X = X.drop(columns =["style"])
X

        state_beer  availability   abv  types  taste
0               36             2   5.0      4   4.50
1               36             6   5.6      2   4.50
2               43             6   5.4      1   4.00
3               37             4   5.0     10   4.25
4               46             2   4.5      3   4.00
...            ...           ...   ...    ...    ...
443995           4             6   5.8      3   4.50
443996          10             2   8.0      2   3.50
443997           4             2  11.0     10   5.00
443998          22             2  13.1      5   4.75
443999          15             6  10.0      1   4.50

[444000 rows x 5 columns]

In [6]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)

In [7]:
# Create a StandardScaler instance
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [8]:
best_trial1 = {'lambda': 0.6961487559906326, 'alpha': 0.010396164166391456, 'colsample_bytree': 0.9, 'subsample': 0.7, 'learning_rate': 0.008, 'max_depth': 17, 'random_state': 2020, 'min_child_weight': 1,'n_estimators': 100 }
best_trial1

{'lambda': 0.6961487559906326,
 'alpha': 0.010396164166391456,
 'colsample_bytree': 0.9,
 'subsample': 0.7,
 'learning_rate': 0.008,
 'max_depth': 17,
 'random_state': 2020,
 'min_child_weight': 1,
 'n_estimators': 100}

In [9]:
# Create a random forest classifier
xgb_model = XGBClassifier(**best_trial1)
# fit the model
xgb_model = xgb_model.fit(X_train_scaled, y_train)

/Users/alexzzf/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[13:44:47] WARNING: /Users/runner/miniforge3/conda-bld/xgboost-split_1645117948562/work/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [10]:
# make predictions for test data
predictions = xgb_model.predict(X_test_scaled)

In [11]:
#calculate matrix and accuracy score
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(cm)
acc_score = accuracy_score(y_test, predictions)

In [12]:
display(cm_df)

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,2789,4,12,1,8,18,44,52,17,21,...,22,12,22,13,2,50,8,1,32,1
1,2,2990,7,185,61,0,0,0,3,29,...,7,6,2,2,18,6,103,76,19,5
2,10,10,3055,11,31,2,3,7,10,29,...,12,9,23,48,29,9,9,3,49,16
3,4,85,1,3181,37,1,0,0,4,9,...,6,1,0,4,18,5,60,49,4,0
4,11,39,19,44,3084,4,1,0,11,42,...,27,9,0,9,43,0,23,30,14,4
5,57,6,20,2,21,2423,43,64,81,13,...,19,5,18,36,3,5,10,1,42,10
6,33,0,13,0,0,8,3000,43,9,4,...,8,0,5,6,0,13,0,0,83,0
7,56,0,7,0,4,88,74,2423,38,31,...,22,36,29,23,7,30,1,1,55,4
8,62,20,42,11,24,16,38,48,2393,46,...,45,21,24,18,17,18,52,29,51,28
9,9,80,59,49,115,13,60,26,27,2295,...,32,16,23,34,67,23,58,71,70,46
10,45,0,5,0,9,12,33,6,32,4,...,34,2,28,21,4,11,8,4,35,9
11,0,40,15,22,49,9,1,4,11,12,...,4,1,3,7,33,1,26,11,11,7
12,43,8,46,4,49,34,77,58,39,56,...,39,22,16,41,33,21,12,13,367,8
13,7,4,22,0,14,0,24,1,17,10,...,25,7,7,21,6,10,0,12,64,3
14,31,3,17,6,7,59,80,57,13,51,...,28,44,13,34,20,16,13,18,44,33
15,15,0,7,2,4,4,10,50,40,7,...,7,17,24,13,1,12,5,9,33,3
16,6,0,8,0,5,1,2,0,9,6,...,14,9,9,15,3,9,3,0,9,24
17,7,11,35,9,39,1,4,5,13,30,...,7,2,4,7,12,0,18,16,16,39
18,51,0,4,3,2,55,32,72,38,13,...,20,6,17,25,21,11,1,0,25,0
19,39,0,4,0,0,7,53,48,11,7,...,28,0,9,7,3,5,0,0,17,0
20,78,0,1,0,0,62,44,46,28,4,...,11,5,16,12,0,13,0,0,26,1
21,9,0,9,0,13,0,11,2,1,12,...,14,3,1,9,5,5,10,5,29,1
22,13,0,1,0,8,1,9,2,32,4,...,7,78,5,9,3,1,1,5,6,2
23,21,1,31,1,6,8,24,35,7,7,...,10,11,14,47,4,8,0,3,19,4
24,3,7,21,6,9,14,6,28,4,25,...,3,8,7,16,17,11,4,8,39,46
25,83,7,3,0,1,43,49,36,49,24,...,9,5,40,19,4,54,8,9,24,24
26,18,0,2,5,0,19,283,48,11,1,...,11,3,7,4,2,8,0,1,54,0
27,29,115,116,28,90,58,56,26,43,58,...,39,20,38,22,33,28,40,43,124,22
28,42,34,71,26,156,29,34,52,71,123,...,122,23,99,67,49,42,77,40,161,35
29,67,6,14,4,22,17,67,81,33,15,...,29,10,18,26,6,17,6,3,47,13
30,39,30,29,31,53,28,12,40,81,45,...,2143,27,63,52,48,28,87,31,107,31
31,0,10,8,3,4,7,6,11,1,10,...,0,3251,1,11,16,0,23,11,12,1
32,64,25,34,12,39,50,19,78,100,55,...,86,47,1965,37,24,25,23,23,83,16
33,29,17,0,7,27,17,20,14,17,7,...,21,15,14,2902,16,24,8,6,49,19
34,5,46,49,28,88,4,2,2,12,50,...,17,18,7,12,2943,10,36,27,21,18
35,13,10,17,0,8,5,17,15,10,3,...,15,2,17,16,19,3146,11,0,31,7
36,24,179,29,88,110,12,19,9,46,82,...,65,33,37,48,52,17,2031,95,77,37
37,3,90,23,33,88,0,0,2,28,22,...,30,22,18,7,31,3,53,2858,24,18
38,30,27,43,21,62,15,121,31,19,50,...,27,19,26,40,11,30,19,38,2227,15
39,5,15,2,4,12,6,7,0,8,16,...,8,11,3,9,14,1,13,0,8,3444

In [13]:
# Display results
print("Confusion Matrix")
print(f"Accuracy Score: {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix
Accuracy Score: 0.751064701064701
Classification Report
                                             precision    recall  f1-score   support

                         American Cream Ale       0.72      0.76      0.74      3651
                                 Barleywine       0.76      0.81      0.79      3689
                             Belgian Dubbel       0.78      0.83      0.81      3668
                   Belgian Quadrupel (Quad)       0.83      0.87      0.85      3638
                             Belgian Tripel       0.71      0.86      0.78      3584
                            Belgian Witbier       0.77      0.66      0.71      3683
                            Berliner Weisse       0.68      0.81      0.74      3681
                                 Blonde Ale       0.69      0.66      0.67      3685
                                  Brown Ale       0.70      0.65      0.68      3671
                                   Dark Ale       0.69      0.61      0.65      3747
English Extra Special / Strong Bitter (ESB)       0.75      0.81      0.78      3637
                            English Old Ale       0.83      0.90      0.86      3610
                              Farmhouse Ale       0.57      0.54      0.55      3701
                      French Bière de Garde       0.81      0.88      0.84      3724
                       Fruit and Field Beer       0.76      0.65      0.70      3687
                             German Altbier       0.80      0.84      0.82      3593
                                German Bock       0.86      0.91      0.89      3641
                          German Doppelbock       0.78      0.88      0.82      3652
                          German Hefeweizen       0.70      0.69      0.69      3619
                              German Helles       0.69      0.84      0.76      3661
                              German Kölsch       0.69      0.76      0.72      3632
                             German Maibock       0.85      0.90      0.88      3650
                German Märzen / Oktoberfest       0.86      0.91      0.88      3728
                         German Schwarzbier       0.78      0.83      0.80      3632
                        Herb and Spice Beer       0.81      0.82      0.82      3717
                                      Lager       0.74      0.67      0.71      3628
                               Leipzig Gose       0.75      0.79      0.77      3707
                                      Other       0.75      0.53      0.62      3673
                                   Pale Ale       0.55      0.37      0.44      3692
                                    Pilsner       0.66      0.64      0.65      3626
                                     Porter       0.70      0.59      0.64      3657
                               Pumpkin Beer       0.85      0.89      0.87      3660
                                    Red Ale       0.74      0.53      0.62      3675
                                   Rye Beer       0.77      0.79      0.78      3657
                     Scotch Ale / Wee Heavy       0.81      0.81      0.81      3640
                               Scottish Ale       0.84      0.86      0.85      3645
                                      Stout       0.71      0.55      0.62      3695
                                 Strong Ale       0.81      0.79      0.80      3605
                                   Wild Ale       0.53      0.61      0.57      3669
                              Winter Warmer       0.86      0.93      0.89      3710

                                   accuracy                           0.75    146520
                                  macro avg       0.75      0.75      0.75    146520
                               weighted avg       0.75      0.75      0.75    146520

In [14]:
# calculate feature importance in the Random Forest model
importances = xgb_model.feature_importances_
importances

array([0.17993784, 0.30919743, 0.30770978, 0.1774549 , 0.02570013],
      dtype=float32)

In [15]:
# Sort the features by importances
sorted(zip(xgb_model.feature_importances_, X.columns), reverse = True)

[(0.30919743, 'availability'),
 (0.30770978, 'abv'),
 (0.17993784, 'state_beer'),
 (0.1774549, 'types'),
 (0.025700128, 'taste')]

In [26]:
#Create result dataframe
trial_report = classification_report(y_test, predictions, output_dict = True)
report_df = pd.DataFrame(trial_report).transpose()
report_df

,precision,recall,f1-score,support
American Cream Ale,0.724039,0.763900,0.743436,3651.000000
Barleywine,0.762950,0.810518,0.786015,3689.000000
Belgian Dubbel,0.783133,0.832879,0.807240,3668.000000
Belgian Quadrupel (Quad),0.831199,0.874382,0.852244,3638.000000
Belgian Tripel,0.707502,0.860491,0.776533,3584.000000
Belgian Witbier,0.769206,0.657888,0.709205,3683.000000
Berliner Weisse,0.684151,0.814996,0.743863,3681.000000
Blonde Ale,0.687961,0.657531,0.672402,3685.000000
Brown Ale,0.700322,0.651866,0.675226,3671.000000
Dark Ale,0.689603,0.612490,0.648763,3747.000000
English Extra Special / Strong Bitter (ESB),0.749426,0.808359,0.777778,3637.000000
English Old Ale,0.834881,0.896399,0.864547,3610.000000
Farmhouse Ale,0.569559,0.540935,0.554878,3701.000000
French Bière de Garde,0.809783,0.880236,0.843541,3724.000000
Fruit and Field Beer,0.764349,0.650122,0.702623,3687.000000
German Altbier,0.803305,0.838853,0.820694,3593.000000
German Bock,0.863791,0.907443,0.885079,3641.000000
German Doppelbock,0.776141,0.880066,0.824843,3652.000000
German Hefeweizen,0.699775,0.687206,0.693434,3619.000000
German Helles,0.691190,0.844305,0.760113,3661.000000
German Kölsch,0.688169,0.760738,0.722636,3632.000000
German Maibock,0.850696,0.903836,0.876461,3650.000000
German Märzen / Oktoberfest,0.855233,0.909603,0.881581,3728.000000
German Schwarzbier,0.777435,0.832874,0.804200,3632.000000
Herb and Spice Beer,0.810368,0.824321,0.817285,3717.000000
Lager,0.744512,0.673098,0.707006,3628.000000
Leipzig Gose,0.753467,0.791476,0.772004,3707.000000
Other,0.745756,0.526273,0.617079,3673.000000
Pale Ale,0.545636,0.370802,0.441542,3692.000000
Pilsner,0.661345,0.639823,0.650407,3626.000000
Porter,0.697364,0.585999,0.636850,3657.000000
Pumpkin Beer,0.847497,0.888251,0.867396,3660.000000
Red Ale,0.735404,0.534694,0.619190,3675.000000
Rye Beer,0.774073,0.793547,0.783689,3657.000000
Scotch Ale / Wee Heavy,0.809183,0.808516,0.808850,3640.000000
Scottish Ale,0.844337,0.863100,0.853616,3645.000000
Stout,0.710140,0.549662,0.619680,3695.000000
Strong Ale,0.805070,0.792788,0.798882,3605.000000
Wild Ale,0.529230,0.606977,0.565444,3669.000000
Winter Warmer,0.862293,0.928302,0.894081,3710.000000
accuracy,0.751065,0.751065,0.751065,0.751065
macro avg,0.748737,0.751389,0.747008,146520.000000
weighted avg,0.748645,0.751065,0.746794,146520.000000

In [28]:
#save csv file
report_df.to_csv('report.csv',index = True)